.product {
  background-image: url("/img/background/bg-catalog.svg");
  width: 436px;
  height: 658px;
  text-align: center;
  padding: 138px 22px 22px 22px;
}

.product__subtitle {
  text-transform: uppercase;
  font-size: 14px;
  margin: 0 0 13px 0;
  font-family: 'Good';
}

.product__title {
  text-transform: uppercase;
  font-size: 32px;
  margin: 0 0 14px 0;
}
