@font-face {
  font-family: "Assistant";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Assistant-Regular.woff2") format("woff2");
  src: url("/fonts/Assistant-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Good";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/Good-Sans-Regular.woff2") format("woff2");
  src: url("/fonts/Good-Sans-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "NeueMachina";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/NeueMachina-Ultrabold.woff2") format("woff2");
  src: url("/fonts/NeueMachina-Ultrabold.woff") format("woff");
  font-display: swap;
}
